.cardscontainer {
    display: flex;
    flex-direction: row;
    /* width: 170vw; */
    /* background-color: cyan; */
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 0 5%;
    box-sizing: border-box; 
  }
  
#dashead{
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color: black;
    
}
.thecontainer{
  margin-bottom: 5%;
  /* width: 101vw; */
}
