.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; Allows items to wrap to the next line if they don't fit */
    justify-content: space-around;
    margin-top: 5%;
    padding: 0 5%; /* Adds padding to prevent cards from hitting the screen edges */
    box-sizing: border-box; /* Ensures padding is included in width/height calculations */
  }
  
#dashead{
    text-align: center;
    margin-top: 2%;
    font-size: xx-large;
    
}
