.ag-format-container {
    margin: 0 auto;
  }
  
  .cardbox {
    /* margin-right: 5%; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Center cards within the available space */
    width: 80%;
    box-sizing: border-box; /* Ensures padding is included in width calculations */
    margin: 0 auto;
    margin-left: 15%;
    margin-bottom: 5%;
  }
#navighead{
  margin-left: 12%;
}
  
  .carditem {
    flex: 1 1 30%; /* Cards take up around 30% of the row each */
    margin: 10px;
    max-width: 30%; /* Set a maximum width to prevent cards from being too large */
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box; /* Ensures padding is included in width calculations */
  }
.maincontains{
  margin-top: 5%;
}
  
  .cardlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   
    text-decoration: none;
    overflow: hidden;
    color: #FFF;
    position: relative;
    z-index: 2;
  }
  
  .cardlink:hover {
    text-decoration: none;
  }
  
  .cardlink:hover #carditemname {
    color: #000000;
    transition: all 0.8s ease;
  }
  
  .cardlink:hover .carditembg {
    transform: scale(10);
    transition: all 0.8s ease;
  }
  .fstrow .scndrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 50px; */
  }
  #carditemname {
    min-height: 20px;
    /* margin: 0 0 25px; */
    padding: 15px;
    font-size: 40px !important; 
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: black;
    z-index: 3;
    position: relative;
  }
  
  .carditembg {
    height: 110%;
    width: 30%;
    background-color: greenyellow;
    z-index: 1;
    position: absolute;
    top: -3%;
    right: -5%;
    border-radius: 50%;
    transition: all 0.8s ease;
  }
  
  @media only screen and (max-width: 979px) {
    .carditem {
      flex: 1 1 45%; /* Cards take up 45% of the row each on medium screens */
    }
  }
  
  @media only screen and (max-width: 767px) {
    .carditem {
      flex: 1 1 100%; /* Cards take up the full width of the row on small screens */
    }
  }
  
  .orange .cardlink{
    background-color: orange;
  }
  .green .cardlink{
    background-color: green;
  }
  .red .cardlink{
    background-color: red;
  }
  