body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
img{
    height: 80%;
    width: 80%;
    margin-left: -10px;
}
.hamburger-menu {
    width: 10%;
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.menu-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}
.menu-heading h1{
    font-size: 37px;
}
.menu-toggle {
    font-size: 34px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: #05c612;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu-toggle:hover {
    color: #027517;
    transform: rotate(360deg);
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    padding: 15px 20px;
    border-bottom: 2px solid rgba(11, 1, 1, 0.178);
}

#menu ul li a {
    font-size: medium;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu ul li a:hover {
    background-color: #027517; /* Green shade */
    padding: 5px;
}

#menu ul li a:active {
    background-color: #005310; /* Darker green */
}

.hidden {
    transform: translateX(-100%);
}

.content-area {
    margin-left: 250px;
    padding: 20px;
}

.active {
    transform: translateX(0);
}

.hidden .menu-toggle {
    transform: rotate(45deg);
}


