
.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #ecf2ec;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form */
}


h1 {
    text-align: center;
    color: #0f9d05;
    font-size: 44px;
}


.form-group {
    margin-bottom: 15px;
    margin-right: 1.5%;
    /* margin-left: 1%; */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.family-history, .personal-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.family-history .form-group,
.personal-history .form-group {
    width: 48%;
}

.family-history .form-group.full-width,
.personal-history .form-group.full-width {
    width: 100%;
}

button[type="submit"] {
    background-color: #25ae03;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px; /* Ensure it's at the bottom */
}

button[type="submit"]:hover {
    background-color: #46b908;
}

#summary-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-summary {
    font-size: 16px;
    margin-bottom: 15px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #070707;
    color: #fff;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
button[type="submit"],
button {
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover,
button:hover {
    transform: scale(1.05);
}
